services:
  backend:
    build: ./Backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    volumes:
      - ./Backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=http://backend:4000
    volumes:
      - ./frontend:/app
      - /app/node_modules

  admin_panel:
    build: ./adminss
    ports:
      - "5174:5174"
    environment:
      - VITE_BACKEND_URL=http://backend:4000
    volumes:
      - ./adminss:/app
      - /app/node_modules

  vendor_panel:
    build: ./vendor
    ports:
      - "5175:5173"
    environment:
      - VITE_BACKEND_URL=http://backend:4000
    volumes:
      - ./vendor:/app
      - /app/node_modules
